<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" style="color:white;">Article Manager</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Article <span
                  class="sr-only">(current)</span></a>
         </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
         <input type="search" (ngModelChange)="searchArticle(key.value)" #key="ngModel" ngModel name="key"
            id="searchName" class="form-control mr-sm-2" placeholder="Search Article..." required>
      </form>
   </div>
</nav>

<div class="container" id="main-container">
   <div class="row">
      <div *ngFor="let Article of articles" class="col-md-6 col-xl-3" class="cardHight">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <a href="{{Article?.image}}"><img src="{{Article?.image}}" alt=""
                        class="img-fluid rounded-circle w-60" width="100px"></a>
               </div>

            </div>
            <div class="col-6 card-title align-self-center mb-0">
               <h5>{{Article.libelle}}</h5>
               <p class="m-0">{{Article.description}}</p>
            </div>

            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <a (click)="onOpenModal(Article, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                     data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                  <a (click)="onOpenModal(Article, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
                     data-original-title="Delete"><i class="fa fa-times"></i></a>
               </div>
            </div>
         </div>
      </div>

   </div>
   <!-- Add User Modal -->
   <div class="modal fade" id="addArticleModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="addEmployeeModalLabel">Add Article</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #addForm="ngForm" (ngSubmit)="onAddArticle(addForm)">
                  <div class="form-group">
                     <label for="libelle">Libelle</label>
                     <input type="text" ngModel name="libelle" class="form-control" id="libelle" placeholder="Libelle"
                        required>
                  </div>
                  <div class="form-group">
                     <label for="description">Description</label>
                     <input type="text" ngModel name="description" class="form-control" id="description"
                        placeholder="Description" required>
                  </div>
                  <div class="form-group">
                     <label for="nombre">Nombre </label>
                     <input type="nombre" ngModel name="nombre" class="form-control" id="nombre" placeholder="Nombre"
                        required>
                  </div>
                  <div class="form-group">
                     <label for="quantite">Quantite </label>
                     <input type="quantite" ngModel name="quantite" class="form-control" id="quantite"
                        placeholder="Quantite" required>
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="add-article-form" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                     <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!--edit-->
   <div class="modal fade" id="updateArticleModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <!-- {{editArticle.libelle}}-->
               <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Article {{editArticle?.libelle}}</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #editForm="ngForm">
                  <div class="form-group">
                     <label for="libelle">Libelle</label>
                     <input type="text" ngModel="{{editArticle?.libelle}}" name="libelle" class="form-control"
                        id="libelle" aria-describedby="emailHelp" placeholder="Libelle">
                  </div>
                  <input type="hidden" ngModel="{{editArticle?.idArticle}}" name="idArticle" class="form-control" id="idArticle"
                     placeholder="ID">
                  <!--  <input type="hidden" ngModel="{{editUser?.password}}" name="userCode" class="form-control" id="userCode" placeholder="Email">-->
                  <div class="form-group">
                     <label for="description">Description</label>
                     <input type="text" ngModel="{{editArticle?.description}}" name="description" class="form-control"
                        id="description" placeholder="Description">
                  </div>
                  <div class="form-group">
                     <label for="nombre">Nombre </label>
                     <input type="nombre" ngModel="{{editArticle?.nombre}}" name="nombre" class="form-control"
                        id="nombre" placeholder="Nombre">
                  </div>
                  <div class="form-group">
                     <label for="quantite">Quantite </label>
                     <input type="text" ngModel="{{editArticle?.quantite}}" name="quantite" class="form-control"
                        id="quantite" placeholder="Quantite">
                  </div>
                  <div class="form-group">
                     <label for="image">Image URL</label>
                     <input type="text" ngModel="{{editArticle?.image}}" name="image" class="form-control" id="image" placeholder="Image URL">
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                     <button (click)="onUpdateArticle(editForm.value)" data-dismiss="modal"
                        class="btn btn-primary">Save changes</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteArticleModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Delete Article</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete article {{deleteArticle?.libelle}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
               <button (click)="OndeleteArticle(deleteArticle?.idArticle)" class="btn btn-danger"
                  data-dismiss="modal">Yes</button>
            </div>
         </div>
      </div>
   </div>
</div>
</div>

<!-- Notification for no employees -->
<div *ngIf="articles?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
   <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO ARTICLE!</h4>
      <p>No Article were found.</p>
   </div>
</div>
